@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fafafa;
    color: #606060;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    height: 55px;
    width: auto;
}

nav ul {
    margin: 10px;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 0px 5px;
    text-transform: uppercase;
}

.header__li {
    border-right: 1px solid #606060;
    padding-right: 10px;
}

ul li a {
    text-decoration: none;
    color: #606060;
}

.header__img {
    background-image: url(../img/mar_loros-2-2048x1536.jpeg);
    width: 100%;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    text-transform: uppercase;
    font-size: 80px;
    color: #fafafa;
}

.headerPages__img {
    background-image: url(../img/mar_loros-2-2048x1536.jpeg);
    width: 100%;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.headerPages__h1 {
    text-transform: uppercase;
    font-size: 100px;
    color: #fafafa;
    margin-left: 40px;
    margin-bottom: 10px;
}

.atajosIndex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 10px 0px 10px;
    width: 100%;
}

.atajosIndex__item {
    text-align: center;
    padding: 0px 60px;
    width: 20%;
}

.atajosIndex__img {
    height: 30px;
    margin: 15px 0px;
}

.atajosIndex__headings {
    text-transform: uppercase;
    font-size: 20px;
    margin: 15px 0px;
}

.atajosIndex__links {
    text-decoration: none;
    color: #606060;
}

.destacados {
    padding: 40px 10px;
}

.destacados__heading {
    text-transform: uppercase;
    font-size: 30px;
}

.cards__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cards {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
    width: 300px;  
    border: 1px solid #6060602b;
    border-radius: 5px;
    padding: 10px;        
}

.cards h4 {
    padding-bottom: 15px;
    
}

.cards__h4-border {
    width: 30%;
    border-bottom: 1.5px solid #606060;
    margin-bottom: 10px;
}

.cards__img {
    height: 60%;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

.contactoIndex {
    background-image: url(../img/playadesdearriba.jpeg);
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactoIndex__box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    width: 400px;
    color: #fafafa;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.contactoIndex__button {
    width: 50%;
    border: 2px solid #fafafa;
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    color: #fafafa;
}

footer {
    height: 150px;
    padding: 40px 5px;
}

.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer ul li {
    display: inline-block;
    padding: 0px 5px;
}

.footer__li {
    border-right: 1px solid #606060;
    padding-right: 10px
}

.footer__socialmedia img {
    height: 30px;
    padding: 0px 5px 0px 30px;
}

footer p {
    font-size: 10px;
    padding: 5px;
}

/* FOOTER PAGES */
.footer__pages {
    background-color: #606060;
}

.footer__pages .footer__li {
    border-right: 1px solid #fafafa;
}

.footer__pages a {
    color: #fafafa;
}

.footer__pages p {
    color: #fafafa;
}

/* COMO LLEGAR */
.como-llegar__container {
    padding: 40px 10px;
}

.como-llegar__container h2 {
    text-transform: uppercase;
    font-size: 40px;
}

.como-llegar__intro {
    margin: 30px 20px 0px 20px;
    text-align: justify;
}

.como-llegar__medios {
    margin: 30px 20px 0px 20px;
    text-align: justify;
    
}

.como-llegar__medios h3 {
    margin-top: 20px;
}

.como-llegar__googlemaps {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/* LUGARES */

.lugares__container {
    display: flex;
    flex-direction: column;
    padding: 40px 10px;
}

.lugares__container h2 {
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 20px;
}

.lugares__cardscontainer {
    display: flex;
    flex-direction: row;
}

.lugares__cardscontainer-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.lugares__carditem {
    width: 50%;
}

.lugares__carditem h3 {
    padding: 20px 20px 10px 20px;
    font-size: 25px;
}

.lugares__carditem p {
    padding: 0px 20px 10px 20px;
    text-align: justify;
}

.lugares__carditem-reverse h3 {
    padding: 20px 30px 10px 30px;
    font-size: 25px;
}

.lugares__carditem-reverse p {
    padding: 0px 20px 10px 30px;
}

.lugares__carditem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lugares__mapa {
    display: flex;
    justify-content: center;
    margin: 40px;
}

/* EXPERIENCIAS */

.experiencias__container {
    padding: 40px 10px;
}

.experiencias__container h2 {
    text-transform: uppercase;
    font-size: 40px;
}

/* CONTACTO */

.formulario__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0px;
}

.formulario__form {
    padding: 40px;
    border: 1px solid #606060;
    border-radius: 3px;
    width: 600px;
}

.formulario__form h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 30px;
}

.formulario__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 6px 12px 6px 20px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}

.button__container {
    display: flex;
    justify-content: center;
}

.formulario__button {
    width: 40%;   
    margin-top: 10px;
    padding: 6px 0px;
    background-color: #606060;
    color: #fafafa;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .headerPages__img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header h1 {
        font-size: 60px;
    }
    .headerPages__h1 {
        font-size: 70px;
        margin-left: 0;
        margin-bottom: 0;
    }
    .atajosIndex__item {
        padding: 0px 30px;
        width: 40%;
    }
    .cards {
        width: 350px;
    }
    /* LUGARES */
    .lugares__cardscontainer, .lugares__cardscontainer-reverse {
        flex-direction: column;
    }  
    .lugares__carditem {
        width: 100%;
    }
    .lugares__carditem h3, .lugares__carditem-reverse h3 {
        padding: 10px 20px;
        font-size: 25px;
    }
    .lugares__carditem p, .lugares__carditem-reverse p {
        padding: 0px 20px 20px 20px;
    }
    .lugares__carditem img {
        padding: 0px 20px;
    }
    .lugares__mapa {
        height: 40vh;
        margin: 40px 0px;
    }
    /* CONTACTO */
    .formulario__form {
        width: 70%;
    }
}

@media screen and (max-width: 480px) {
    .header__nav ul {
        margin: 5px;
        list-style-type: none;
    }
    nav ul li {
        padding: 0px 3px;
        font-size: 8px;                      /* Por ahora lo dejo así hasta que veamos como poner un menú hamburguesa */
    }
    .header__li {
        padding-right: 6px; 
    }
    header h1 {
        font-size: 32px;
    } 
    .headerPages__h1 {
        font-size: 40px;
    }
    .atajosIndex__headings {
        font-size: 15px;
    }
    .destacados__heading {
        font-size: 20px;
    }
    .contactoIndex__box {
        width: 100%;
        font-size: 25px;
    }
    .contactoIndex__button {
        font-size: 15px;
    }
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 180px;
    }
    .footer__pages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .footer__socialmedia {
        padding-top: 20px;
    }
    .footer__socialmedia  img{
        padding: 0px 10px;
    }
    /* LUGARES */
    .lugares__carditem h3, .lugares__carditem-reverse h3 {
        padding: 10px 10px;
        font-size: 20px;
    }
    .lugares__carditem p, .lugares__carditem-reverse p {
        padding: 0px 10px 20px 10px;
    }
    .lugares__carditem img {
        height: 35vh;
        padding: 0px 10px;
    }
    .lugares__mapa {
        height: 25vh;
        margin: 20px 0px 40px 0px;
    }
    /* CONTACTO */
    .formulario__form {
        width: 90%;
    }
    .formulario__form {
        padding: 30px;
    }
    .formulario__form h2 {
        font-size: 20px;
    }
    .formulario__item {
        padding: 6px 12px 6px 12px;
    }
    textarea {
        height: 160px;
    }
    .formulario__button {
        width: 45%;  
        font-size: 12px;
    }
}