.formulario__container {
    @include flex(row, center, center);
    margin: 80px 0px;
    .formulario__form {
        padding: 40px;
        border: 1.5px solid $color-gris;
        border-radius: 3px;
        width: 600px;
        h2 {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            font-size: map-get($font-sz, xl);
        }
        .formulario__item {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 6px 12px 6px 20px;
            margin-bottom: 10px;
            font-family: 'Open Sans', sans-serif;
            outline: none;
        }
        .button__container {
            display: flex;
            justify-content: center;
        }
    }
    
}

@media screen and (max-width: 768px) {
    .formulario__container{
        .formulario__form {
            width: 70%;
        }
    }
}

@media screen and (max-width: 480px) {
    .formulario__container{
        .formulario__form {
            width: 90%;
            padding: 30px;
            h2 {
                font-size: map-get($font-sz, m);
            }
            .formulario__item {
                padding: 6px 12px 6px 12px;
            }
            textarea {
                height: 160px;
            }
            .button__container{
                .formulario__button {
                    width: 45%;  
                    font-size: 12px;
                }
            }
        }
    }
}