$color-claro: #fafafa;
$color-gris: #606060;
$padding-secciones: 40px 10px;

$font-sz: (
		"xs": 10px,
		"s": 15px,
		"m": 20px,
		"l": 25px,
		"xl": 30px,
		"xxl": 40px
	);

    
    
    
    
   
    